   $lineColor: #2f2f2f;
   $blogTextColor: #464646;
   $descriptionTextColor: #959595;
   
   .blog__title {
    @include visually-hidden;
  }

  .blog__list {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(5, minmax(130px, auto));
    list-style: none;
    padding-top: 115px;
    padding-bottom: 150px;
  }
  
  .blog__element--three {
    grid-column: span 3;
  }
  
  .blog__element--four {
    grid-column: span 4;
  }
  
  .blog__element--five {
    grid-column: span 5;
  }
  
  .blog__element--eight {
    grid-column: span 8;
  }  
  
  .blog__element {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 50%;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 1) 100%);
      z-index: 1;
    }

    &:nth-child(1) {
      background: url('../img/img6.jpg') center no-repeat;
      background-size: cover;
      grid-row: 1 / 4;

      .blog__title {
        font-size: 30px;
      }
    }

    &:nth-child(2) {
      grid-row: 1 / 3;

      .blog__subtitle {
        font-size: 30px;
        position: relative;
        margin: 30px 0;

        &::before {
          content: '';
          background-color: $lineColor;
          position: absolute;
          left: 0;
          top: -40px;
          height: 2px;
          width: 70px;
        }
      }
      &::before {
        display: none;
      }
    }

    &:nth-child(3) {
      background: url('../img/img7.jpg') center no-repeat;
      background-size: cover;
      grid-row: 4 / 6;
      
    }

    &:nth-child(4) {
      background: url('../img/img8.jpg') center no-repeat;
      background-size: cover;
      grid-row: 4 / 6;
    }

    &:nth-child(5) {
      background: url('../img/img9.jpg') center no-repeat;
      background-size: cover;
      grid-row: 3 / 6;
    }

    &:hover {
      .blog__info {
        border-color: $second;
      }
      .blog__link {
        background-color: $second;
      }
    }
  }

    .blog__subtitle {
      font-size: 23px;
      font-family: 'Raleway';
      color:$white;
      font-weight: 700;
      text-transform: uppercase;
      line-height: 1;
      margin: 20px 0;
      text-decoration: none;
    }

    .blog__text {
      font-size: 14px;
      color: $blogTextColor;
      line-height: 1.1;
    }
    .blog__description {
      font-size: 12px;
      color: $descriptionTextColor;
      text-transform: uppercase;
      line-height: 1.1;

      &::after {
        background-color: $second;
        width: 70px;
        height: 2px;
        display: block;
        content: '';
        margin-top: 25px;
      }

      span {
        color: $white;
      }
    }

    .blog__link {
      background-color: $black;
      width: 41px;
      height: 41px;
      display: block;
      position: relative;
      margin-top: 15px;
      margin-bottom: 20px;
      outline: none;
      transition-duration: 500ms;
      transition-property: background-color;

      &:focus {
        background-color: $second;
      }

      svg {
        fill: $white;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 21px;
    
      }
    }

    .blog__info {
      padding: 10px 25px;
      position: relative;
      z-index: 2;
      height: 100%;
      box-sizing: border-box;
      border: 5px solid transparent;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      transition-duration: 500ms;
      transition-property: border-color;
    }


    @media(max-width:980px) {
      .blog__element {
        &:nth-child(1), &:nth-child(2) {
          .blog__subtitle {
            font-size: 20px;
          }
        }
      }
      .blog__title {
        font-size: 20px;
      }
    }

@media(max-width:768px) {
      .blog__list {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
      }
      .blog__element {
        grid-column: span 1;
        grid-row: span 1 !important;
      }
    }

    @media(max-width:480px) {
      .blog__list {
        grid-template-columns: minmax(290px, auto);
        padding-top: 50px;
        padding-bottom: 55px;
      }
      .blog__element {
        &:nth-child(2) {
          grid-row: 1 / 2 !important;
        }
      }

    }