$listColor: #959595;
.list {
    font-size: 14px;
    line-height: 1.1;
    color: $listColor;
    list-style: none;
    padding:0;
}

.list__element {
    margin: 15px 0;
    padding-left: 55px;
    position: relative;
    
    &::before {
        content: '';
        background-color: $second;
        position: absolute;
        width: 8px;
        height: 2px;
        left: 22px;
        top: 50%;
        transform: translateY(-50%)
    }
}